# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Environment Variables / Secrets
# ==============================

.env
.env.*
!.env.example

# ==============================
# VS Code
# ==============================

.vscode/

# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Temporary Database Files
# ==============================

*.sqlite
*.db

# ==============================
# Python Distribution
# ==============================

*.egg-info/
dist/
build/

# ==============================
# Power BI Temporary Files
# ==============================

*.pbit

# ==============================
# Secrets / Credentials
# ==============================

secrets/
credentials/